@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{
    try
    {
        <p>id = @Model._telegramParametrs.User.Id</p>
    }
    catch (Exception)
    {
    }
    try
    {
        <p>first_name = @Model._telegramParametrs.User.FirstName</p>
    }
    catch (Exception)
    {
    }
    try
    {
        <p>last_name = @Model._telegramParametrs.User.LastName</p>
    }
    catch (Exception)
    {
    }
    try
    {
        <p>username = @Model._telegramParametrs.User.Username</p>
    }
    catch (Exception)
    {
    }
    try
    {
        <p>language_code = @Model._telegramParametrs.User.LanguageCode</p>
    }
    catch (Exception)
    {
    }
    try
    {
        <p>allows_write_to_pm = @Model._telegramParametrs.User.AllowsWriteToPm</p>
    }
    catch (Exception)
    {
    }
    try
    {
        <p>auth_date = @Model._telegramParametrs.AuthDate</p>
    }
    catch (Exception)
    {
    }
    try
    {
        <p>hash = @Model._telegramParametrs.Hash</p>
    }
    catch (Exception)
    {
    }
}










<p></p>